* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: #000;
  padding: 80px 160px;
  background-image: url("./Group 3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#heading {
  margin-top: -36px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -3.84px;
}

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.buttons-container svg {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 5.293px 7.314px 5.293px 9.4px;
  justify-content: center;
  align-items: center;
}

.buttons1,
.buttons2 {
  width: auto;
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 8px;
}

.buttons1 {
  border-radius: 50px;
  border: 1px solid #ffbf00;
  background: var(--Amber-500----Primary, #ffbf00);
}

.buttons1 p {
  color: var(--Woodsmoke----BG-950----bg, #1a1a1a);
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  flex-shrink: 0;
}

.buttons2 {
  width: 155px;
  border-radius: 50px;
  border: 1px solid #ffbf00;
  background: var(--Grey-10, #1a1a1a);
}

.buttons2 p {
  color: #ffbf00;
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  flex-shrink: 0;
}
